@import url(http://fonts.googleapis.com/css?family=Exo);

body {
    font-family: "Exo", sans-serif;
    width: 700px;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

table {
    border-collapse: collapse;
}

td {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    vertical-align: center;
}