div
{
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}       

.hidden
{
    visibility: hidden;
}

.tip
{
    border: green 2px double;
}

.selected
{
    border: dotted 2px black;
}

